body {
    font-family: verdana
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1 {
    font-family: verdana;
    font-size: 60px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 80px 15%;
    animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    display: flex;
    gap: 10px;
    padding: 10px 10%;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.navbar .logo {
    font-family: Verdana, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    color: #f5f5f5;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
    padding: 6px 4px;
}

.navbar ul li a:hover {
    color: #0D7CFF;
    text-shadow: 0 0 10px #0D7CFF, 0 0 20px #0D7CFF, 0 0 30px #0D7CFF, 0 0 40px #0D7CFF;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    color: white;
}

.card {
    backdrop-filter: blur(10px);
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #6aa1f4;
}