body {
    background-color: #FAFAFA;
    font-style: normal;
    font-family: Florence;
}

h1 {
    font-size: 80px;
    color: #171717;
    text-align: center;
}

h2 {
    color: #8C001A;
    font-size: 50px;
    text-align: center;
}

div {
    color: #3B82F6;
}

img {
    border-radius: 50%;
    height: auto;
    width: 30%;
    border: 1px solid black;    
}
